/.DS_Store
Codeforces/001-Domino_Pilling
Codeforces/002-elephant
Codeforces/003-spy_detected
CSES/001-weird_algo
CSES/002-missing_numb
CSES/003-increasing_array
Codeforces/004-Medium_Number
CSES/004-repetition
Codeforces/005-watermelon
Codeforces/006-way_too_long_words
Codeforces/007-even_odds
Codeforces/008-accumulation_dominoes
Codeforces/009-wrong_subtraction
Dimik/001-even_odds
