/.DS_Store
Test
Codeforces/001-Domino_Pilling
Codeforces/002-elephant
Codeforces/003-vanya_fence
CSES/001-weird_algo
CSES/002-missing_numb
CSES/003-increasing_array
Codeforces/004-Medium_Number
CSES/004-repetition
Codeforces/005-watermelon
Codeforces/006-way_too_long_words
Codeforces/007-even_odds
Codeforces/008-accumulation_dominoes
Codeforces/009-wrong_subtraction
Dimik/001-even_odds
Codeforces/010-Team
Codeforces/011-IQ_Test
Codeforces/012-Next_round
Codeforces/013-Brain_photo
Codeforces/014-spy_detected
Codeforces/015-Cards_friends
Codeforces/016-Equal_candies
Codeforces/017-Word_capitalization
Codeforces/018-Number_Smaller
Codeforces/019-Review_site
Codeforces/020-Dominant_piranha
Codeforces/021-Beautiful_matrix
Codeforces/022-String_task
Codeforces/023-Petya_strings
Codeforces/024-Bit++
Codeforces/025-Sum
Codeforces/027-Three_Doors
Codeforces/028-Beat_Odds
Codeforces/029-Cypher
Codeforces/030-Special_Permutation
Codeforces/031-Difference_Operation
Codeforces/026-Lost_Array
Codeforces/032-Valera_Plates
Codeforces/033-Vasya_Coins
Codeforces/034-Theatre_Square
Codeforces/035-Helpful_Maths
Codeforces/036-Factorise_N+M
CSES/005-Permutations
CSES/006-Number_Spiral
CSES/007-Palindrome_Reorder
LeetCode/0852
LeetCode/00000.cpp
